.my-custom-scrollbar {
  position: relative;
  height: 360px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

div.adduser{

margin-left: 0px;
margin-right: 0%;
/* padding-bottom: 6%; */
}
  label {

    font-size: 18px;
    color: black;
    font-weight: bold;  
    
  }
  

form {
  background: transparent;
  margin-left: 100px;
  margin-right: 100px;
  padding: 13px;
  padding-bottom: 13px;
  height:max-content;
  border-radius: 20px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 10px 20px 40px 10px rgba(0,0,0,0.2);
  text-align: center;
  
  /* position: relative; */
  }
 .main{
  /* margin-top: 5%; */
  /* margin-bottom: 5%; */
  background: white;
  
  box-shadow:  1px 0px 10px black;
  padding-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
 }
    .subbutton{
      background-color: green;
      color: white;
      font-weight: bold;
      padding: 5px;
      border-radius: 10px;
    }
    .subbutton:hover {
      background-color: rgb(4, 81, 4); /* Green */
      color: white;
      box-shadow:1px 0px 5px black ;
    }

.updatebutton{
    background-image: linear-gradient(rgb(255, 204, 0), yellow, rgb(255, 204, 0));
      /* font-weight: bold; */
      padding: 5px;
      border-radius: 5px;
      border: none;
      font-family:serif ;
}
.updatebutton:hover {
  background-image: linear-gradient( yellow, rgb(255, 204, 0),yellow);
  /* color: white; */
  box-shadow:  1px 0px 5px black;
}
.deletebutton{
  margin-left: 4px;
    background-image: linear-gradient(rgb(230, 7, 7), red, rgb(230, 7, 7));
      /* font-weight: bold; */
      /* color: white; */
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      border: none;
      font-family:serif ;
}
.deletebutton:hover {
  background-image: linear-gradient( red,rgb(241, 10, 10),red);
  color: white;
  box-shadow:  1px 0px 5px black;
}

.forminput{
  border-top: 20px;
  border-radius: 10px;
  padding: 2px;
  outline: 2px;
  margin: 3px;
  font-family: monospace;
  color: darkblue;
}
.forminput:focus{
  box-shadow:1px 0px 5px black ;
}

.addbutton{
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 3px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  background: black;
}
.addbutton:hover {
  background-image:linear-gradient(rgb(7, 126, 230), rgb(0, 136, 255), rgb(19, 12, 128));
  box-shadow:1px 0px 5px black ;
} 