div.page{
  font-size: large;
  font-style: italic;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  /* padding-bottom: 197px; */
  height: 660px;

  text-align: center;

  background: url("image3.jpg") ;

  background-size: 800px 800px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-attachment: fixed;

}
.head{
  /* background-image: linear-gradient( transparent,black);  backdrop-filter: blur(10px); */
  background-color: black;
  border-radius: 2px;
  margin-left: 70px;
  margin-right: 70px;
  color: white;
  padding-bottom: 10px;
  box-shadow:  5px 5px 30px 7px white;
}




